[report]
    omit = 
        prosper/datareader/_version.py
        prosper/datareader/__init__.py
        prosper/datareader/robinhood/__init__.py
        prosper/datareader/google/__init.py

[paths]
    source = prosper/datareader